<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ pageTitle }}</a>
  <ul class="nav nav-pills">
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/login']"
        *ngIf="!isUserValid"
        >Login</a
      >
      <a
        class="nav-link"
        routerLinkActive="active"
        (click)="redirectToLogin()"
        *ngIf="isUserValid"
        >Logout</a
      >
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/products']"
        >Product List</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/templateDrivenForm']"
        >Template-Driven-Form</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/reactiveForm']"
        >Reactive-Form</a
      >
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
