<!-- <div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="area" ss-container>
    <div class="container-fluid">
      <div class="text-center">
        <img src="assets/images/logo1-j.jpg" class="img-responsive center-block"
          style="max-height:300px;padding-bottom:50px" />
      </div>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      Globe
    </a>
    <form class="d-flex">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
        Icon1
      </a>
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
        Icon2
      </a>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 style="margin-top: 24px; color: #007bff">I'm new to Globe</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email Address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mobile Number">
        </div>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
          <p>Please provide an active mobile number</p>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Confirm Password">
        </div>
        <div>
          <p>By filling out this form, you agree to our privacy policy, Read the full terms here.</p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create an Account</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <hr class="new1">
    </div>
    <div class="col-4" style="text-align: center;">
      OR SIGN UP VIA
    </div>
    <div class="col-4">
      <hr class="new1">
    </div>
  </div>

  <div class="row shadow-sm p-3 mb-5 bg-white rounded">
    <div class="col">
      <a href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      </a>
    </div>
    <div class="col">
      <a href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      </a>
    </div>
    <div class="col">
      <a href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      </a>
    </div>
    <div class="col">
      <a href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      </a>
    </div>
  </div>

  <div class="row" style="margin-top: 16px;">
    <div class="col-12">
      Already have an account in Globe?
    </div>
    <div class="col-12">
      Log in here
    </div>
  </div>
</div>
